@model Mp_WebApp.Models.Paint
@{
    ViewBag.Title = "Acryllatex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>

<ul>
    <li>@Model.brandName</li>
    <li>@Model.milliliter</li>
    <li>@Model.price</li>
</ul>