@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>MP-Krekels</p>
<p>
    voor al uw verf
</p>

<div>
    <text>
        MP bestaat al weer meer dan 10 jaar. (M)andy en (P)ieter Krekels begonnen in 2005 geheel opnieuw met een eigen verfhandel in professionele verf en aanverwante materialen.
        Super trots zijn wij op ons merk Mprofex- all matte superlatex voor binnen en buiten. Deze is er ook in zijdeglans welke zeer goed reinigbaar is. Ons merk is te herkennen aan het kroontje van 2 krekels zoals boven in het logo.
    </text>
</div>
<br />