@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MP-Verf</h1>
    <p class="lead">Voor al uw verf en klus artikelen</p>
    <p><a href="http://www.mp-krekels.nl/" class="btn btn-primary btn-lg">Visit the old website &raquo;</a></p>
</div>
